{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                <form action="{{ path('app_company_details_index') }}" method="post">
                    {{ form_widget(form) }}
                    <button class="btn btn-outline-success mt-3" type="submit">Submit</button>
                    <a type ="button" class="btn btn-outline-primary mt-3" href="{{ path('app_company_details_index') }}">Clear</a>
                </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-flex justify-content-end mt-5">
                <div class="text-right">
                        <a type ="button" class="btn btn-primary me-3" href="{{ path('app_company_details_new') }}">Create Company Data</a>
                        <a type ="button" class="btn btn-info" href="{{ path('app_company_details_fetch') }}">Fetch Company Data</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col">
                    <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Registration Code</th>
                                <th>VAT</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for companyDetail in companyDetails %}
                                <tr>
                                    <td>{{companyDetail.id}}</td>
                                    <td>{{companyDetail.name}}</td>
                                    <td>{{companyDetail.registrationCode}}</td>
                                    <td>{{companyDetail.vat}}</td>
                                    <td>{{companyDetail.address}}</td>
                                    <td><img src="https://rekvizitai.vz.lt/{{ companyDetail.phone }}" alt="Image"></td>
                                    <td class="d-flex">
                                        <a type ="button" class="btn btn-primary me-3" href="{{ path('app_company_details_show', {'id': companyDetail.id}) }}">View</a>
                                        <a type ="button" class="btn btn-info" href="{{ path('app_company_details_edit', {'id': companyDetail.id}) }}">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Registration Code</th>
                                <th>VAT</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}